@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 29px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  color: white;
  background-color: #000;
  width: 100%;

  padding: 10px 25px;
}

header a {
  text-decoration: none;
  color: inherit
}

header .header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header-social {
  display: none;
}

header .header-info .home-button {
  margin-top: 6px;
}

.mobile-header {
  color: white;
  background-color: #000;
  width: 100%;
  max-width: 1170px;
  padding-right: 25px;
  padding-left: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.mobile-header a {
  text-decoration: none;
  color: inherit;
}
.home-button {
  margin-top: 7px;
}


.mobile-nav {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: white;

  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;

  display: block;

}

.open_mobile-nav {
  transform: translateX(0)
}


.mobile-nav_header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.mobile-nav_header h1 {
  font-size: 700;
  font-family: Oswald, sans-serif;
  letter-spacing: .1rem;

  flex: 1
}

.mobile-nav_close-btn {
  font-size: 30px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.mobile-nav_list {
  display: flex;
  flex-direction: column;
  text-align: center;

  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
  background-color: #f8f8f8;

  height: 80%;
  padding-top: 30px;



}

.mobile-nav_list a {
  padding: 17px 15px 15px;
  font-family: Oswald, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;

  cursor: pointer;
}

.mobile-socials {
  margin-top: 30px;
}

.mobile-socials a {
  font-size: 25px;
  margin-left: 12px;

  cursor: pointer;
}

.container {
  padding: 25px;
}

nav {
  display: flex;
  /* align-items: center; */
  margin-bottom: 30px;
}

nav .brand {
  font-size: 34px;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  flex: 1;



}

nav .brand a {
  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

nav .menu-btn {
  border: none;
  background-color: transparent;
  font-size: 24px;

  cursor: pointer;
  margin-top: 6px;
}

nav .reg-navlist {
  padding: 17px 30px;
  align-items: center;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  text-align: center;

  margin-top: 35px;

  display: none;

}

nav .reg-navlist a {
  padding: 17px 15px 15px;
  font-family: Oswald, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;

  cursor: pointer;


}

@media (min-width: 890px) {

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header .header-info {
    display: block;
  }

  header a {
    margin-right: 20px;


  }

  .header-social {
    display: block;
  }

  .header-social i {

    margin-left: 20px;

  }


  nav {
    display: block;
  }

  nav .brand {
    text-align: center;
    font-size: 52px;
  }

  .menu-btn {
    display: none;
  }

  nav .reg-navlist {
    display: block;
  }
}

@media (min-width: 1200px) {
  header {
    padding-left: 12%;
    padding-right: 12%;


  }

  .container {
    width: 80%;
    margin: 0 auto;
  }
}